In [2]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import numpy as np
import pandas as pd

# Gráficos
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Estandarización variables numéricas y Codificación variables categóricas
# ------------------------------------------------------------------------------
from sklearn.preprocessing import StandardScaler

# Para separar los datos en train y test
# ------------------------------------------------------------------------------
from sklearn.model_selection import train_test_split

#  Gestión de warnings
# ------------------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

# Pair Programming Preprocesado

Usando el mismo dataset que usatéis ayer, los objetivos de los ejercicios de hoy son:

Estandarizar las variables numéricas de vuestro set de datos

Codificar las variables categóricas. Recordad que tendréis que tener en cuenta si vuestras variables tienen orden o no.

Chequear si vuestros datos están balanceados. En caso de que no lo estén utilizad algunas de las herramientas aprendidas en la lección para balancearlos.

Guardad el dataframe con los cambios que habéis aplicado para utilizarlo en la siguiente lección.

In [31]:
# cargamos el dataframe

df = pd.read_pickle('datos/Invistico_Airline_v2.pkl')
df.head(2)

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,cat_retraso_salida,cat_retraso_llegada,cat_distance
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,...,0,3,5,3,2,0,0.0,< 15,< 15,<1000
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,...,4,4,2,3,2,310,305.0,120+,120+,1000-4000

## Estandarización

In [32]:
# creamos un dataframe de las variables numéricas

df_num = df.select_dtypes(include=np.number)
df_num.head(2)

   Age  Flight Distance  Departure Delay in Minutes  Arrival Delay in Minutes
0   65              265                           0                       0.0
1   47             2464                         310                     305.0

In [33]:
# estandarizamos los datos usando el StandardScaler de la libreria de Sklearn
scaler = StandardScaler()
scaler.fit(df_num)
datos_estandarizados = scaler.transform(df_num)
df_datos_estandarizados = pd.DataFrame(datos_estandarizados, columns = df_num.columns)

In [34]:
df_datos_estandarizados.head(2)

,Age,Flight Distance,Departure Delay in Minutes,Arrival Delay in Minutes
0,1.691495,-1.671090,-0.386036,-0.392329
1,0.500825,0.470348,7.786328,7.536854

In [36]:
# lo unomos al dataframe original 

df.drop(columns=df_datos_estandarizados.columns, inplace=True)
df = pd.concat([df, df_datos_estandarizados], axis = 1)

# chequeamos que esta todo bien
df.head()

,satisfaction,Gender,Customer Type,Type of Travel,Class,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,...,Checkin service,Cleanliness,Online boarding,cat_retraso_salida,cat_retraso_llegada,cat_distance,Age,Flight Distance,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,Personal Travel,Eco,0,0,0,2,2,...,5,3,2,< 15,< 15,<1000,1.691495,-1.671090,-0.386036,-0.392329
1,satisfied,Male,Loyal Customer,Personal Travel,Business,0,0,0,3,0,...,2,3,2,120+,120+,1000-4000,0.500825,0.470348,7.786328,7.536854
2,satisfied,Female,Loyal Customer,Personal Travel,Eco,0,0,0,3,2,...,4,4,2,< 15,< 15,1000-4000,-1.615922,0.152882,-0.386036,-0.392329
3,satisfied,Female,Loyal Customer,Personal Travel,Eco,0,0,0,3,3,...,4,1,3,< 15,< 15,<1000,1.360753,-1.322461,-0.386036,-0.392329
4,satisfied,Female,Loyal Customer,Personal Travel,Eco,0,0,0,3,4,...,4,2,5,< 15,< 15,<1000,2.022237,-1.584420,-0.386036,-0.392329

## Codificación

columnas que codificar:
- Gender
- Customer Type
- Type of Travel
- Class

## Balanceo

In [ ]:
# guardamos el dataframe

df.to_pickle('datos/Invistico_Airline_v3.pkl')