In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import numpy as np
import pandas as pd

# Gráficos
# ------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns


#  Modelado y evaluación
# -----------------------------------------------------------------------------
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

# Pair Programming Métricas Regresión Lineal

En el pair programming anterior creastéis vuestro primer modelo de machine learning usando la regresion Lineal. Es el momento, que con vuestros datos evaluéis si es bueno haciendo predicciones. Los objetivo de este pairprogramming son:
- Calculéis las métricas para vuestro modelo
- Discutid los resultados de las métricas y extraed conclusiones
- Guardad los resultados de las métricas en un csv para usarlo más adelante.

In [3]:
df = pd.read_csv('datos/soci_econ_country_profiles_v7.csv', index_col=0)
df.head()

,Region,GDP_per_capita,Employment_Agriculture,Employment_Services,Agricultural_production_index,Urban_population,Urban_population_growth_rate,Fertility_rate_total,Infant_mortality_rate,Seats_held_by_women_in_national_parliaments,Individuals_using_the_Internet,Energy_production_primary,Energy_supply_per_capita,Quality_Of_Life_Index,Purchasing_Power_Index,Safety_Index,Health_Care_Index,Property_price_to_income_ratio,Traffic_commute_time_index,Pollution_index,Climate_index,Affordability_Index,Cost_Of_Living_Index,Consumer_price_index,Current_health_expenditure,Human_capital_index,Inflation_consumer_prices,Life_expectancy_at_birth_total,Labour_force_participation,Pop_using_improved_drinking_water_urban,Pop_using_improved_drinking_water_rural,Population_age_distribution_0_14,Population_age_distribution_60_mas,Education_Secondary_gross_enrol_ratio,Education_Tertiary_gross_enrol_ratio
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Argentina,1.84,-0.431499,-0.793293,0.635685,0.451515,1.176545,-0.146278,0.816818,0.390527,1.373669,-0.170271,-0.433123,-0.072257,139.59,-0.480096,-1.843490,0.739348,0.085614,0.253993,0.085118,1.031920,-1.242902,-0.124619,-0.375346,0.595817,-0.661735,-0.179334,-0.356054,0.526225,0.213117,0.576120,0.983668,-0.481642,0.119029,0.928674
Australia,2.30,1.358804,-0.729591,0.874487,-0.051041,1.039907,0.271660,0.093270,-0.510644,0.436646,1.674834,0.729295,0.579071,176.54,1.024540,-0.270524,0.839394,-0.461542,-0.207625,-1.254411,0.556493,0.080872,1.230619,-0.300239,0.626171,1.061166,-0.270570,1.069555,0.052782,0.675804,0.681506,-0.044663,0.256053,1.643795,1.272043
Austria,2.30,1.006731,-0.547584,0.365043,-0.239499,-0.292313,-0.647804,-0.811165,-0.565818,0.611189,-0.538225,0.186268,0.579071,190.37,0.807519,1.532822,1.540764,-0.380339,-1.420448,-1.379278,0.273045,0.414798,0.789648,-0.345498,1.068892,0.971432,-0.238703,0.870393,-0.574209,0.675804,0.681506,-0.898700,0.796151,-0.222299,0.863591
Belarus,1.84,-0.860425,-0.101668,-0.534443,0.639974,0.316865,-0.982155,-0.449391,-0.538231,0.969463,-0.786194,-0.119185,0.513938,119.23,-1.239326,1.298550,-1.318426,1.373269,-1.221178,-0.552731,-0.845325,-1.397939,-1.028272,1.151509,-0.593477,-0.907608,0.710551,-0.877799,-0.318294,-0.042578,0.383944,-0.445537,0.295572,0.131486,1.157587
Belgium,2.30,0.819859,-0.866096,0.993887,-0.239499,1.523832,-0.564217,-0.087617,-0.547427,1.290990,-0.754198,0.508691,0.579071,160.52,0.647171,-0.433191,1.331195,-0.902361,0.011715,-0.120354,0.619511,1.070722,0.974914,-0.368860,1.047345,0.648387,-0.227962,0.835214,-1.457115,0.614924,0.644311,-0.375820,0.730285,3.118732,0.569595

In [4]:
# separamos los datos en X (VP) y y (VR)

X = df.drop(['Quality_Of_Life_Index'], axis=1)
y = df ['Quality_Of_Life_Index']

In [5]:
# dividimos los datos en datos de entrenamiento y datos de prueba

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 37)

In [6]:
# ajustamos el modelo

lr = LinearRegression(n_jobs=1)
lr.fit(x_train, y_train)

LinearRegression(n_jobs=1)

In [7]:
# hacemos las predicciones

y_predict_train = lr.predict(x_train)
y_predict_test = lr.predict(x_test)

In [8]:
# creamos un dataframe con los datos de los resultados de entrenamiento y los datos de los resultados del test

train_df = pd.DataFrame({'Real': y_train, 'Predicted': y_predict_train, 'Set': ['Train']*len(y_train)})
test_df = pd.DataFrame({'Real': y_test, 'Predicted': y_predict_test, 'Set': ['Test']*len(y_test)})
resultados = pd.concat([train_df,test_df], axis = 0)

In [9]:
# creamos una columna de los residuos: la diferencia entre los datos reales y los datos de la prediccion

resultados['residuos'] = resultados['Real'] - resultados['Predicted']

In [10]:
# Para el conjunto de entrenamsiento las méticas han sido
print('Para el conjunto train:---------------')
print('El valor de r2 score es ',r2_score(y_train,y_predict_train))
print('El MAE es',mean_absolute_error(y_train,y_predict_train))
print('El MSE es',mean_squared_error(y_train,y_predict_train))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_train,y_predict_train)))


# Para el conjunto de test las métricas han sido
print('Para el conjunto test:---------------')
print('El valor de r2 score es ',r2_score(y_test,y_predict_test))
print('El MAE es',mean_absolute_error(y_test,y_predict_test))
print('El MSE es',mean_squared_error(y_test,y_predict_test))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_test,y_predict_test)))

Para el conjunto train:---------------
El valor de r2 score es  0.999999995075342
El MAE es 0.001999347264378914
El MSE es 7.632281691436359e-06
EL RMSE es  0.002762658446394769
Para el conjunto test:---------------
El valor de r2 score es  0.999999895617009
El MAE es 0.010049112091062594
El MSE es 0.00012990599838027487
EL RMSE es  0.011397631261813784

In [11]:
resultados_metricas = {'MAE': [mean_absolute_error(y_test, y_predict_test), mean_absolute_error(y_train, y_predict_train)],
                'MSE': [mean_squared_error(y_test, y_predict_test), mean_squared_error(y_train, y_predict_train)],
                'RMSE': [np.sqrt(mean_squared_error(y_test, y_predict_test)), np.sqrt(mean_squared_error(y_train, y_predict_train))],
                'R2':  [r2_score(y_test, y_predict_test), r2_score(y_train, y_predict_train)],
                 "set": ["test", "train"], 
                 "modelo": ["Linear Regresion", "LinearRegression"]}

df_resultados = pd.DataFrame(resultados_metricas)

df_resultados

        MAE       MSE      RMSE   R2    set            modelo
0  0.010049  0.000130  0.011398  1.0   test  Linear Regresion
1  0.001999  0.000008  0.002763  1.0  train  LinearRegression

Vemos que las métricas de ambos grupos de datos, los de train y test, son muy buenos. Aunque el R2 es igual para los dos grupos, las otras métricas son un poco mejores para el grupo de train, lo que podría indicar overfitting.

Como hemos visto que el overfitting puede resultar de demasiadas variables predictoras, vamos a volver a crear un modelo de regresión lineal quitando unas variables predictoras. Vamos a quitar las otras índices ya que es probable que sean datos calculados a traves de otros datos del dataset y todos son un poco redundantes.

In [12]:
df.columns

Index(['Region', 'GDP_per_capita', 'Employment_Agriculture',
       'Employment_Services', 'Agricultural_production_index',
       'Urban_population', 'Urban_population_growth_rate',
       'Fertility_rate_total', 'Infant_mortality_rate',
       'Seats_held_by_women_in_national_parliaments',
       'Individuals_using_the_Internet', 'Energy_production_primary',
       'Energy_supply_per_capita', 'Quality_Of_Life_Index',
       'Purchasing_Power_Index', 'Safety_Index', 'Health_Care_Index',
       'Property_price_to_income_ratio', 'Traffic_commute_time_index',
       'Pollution_index', 'Climate_index', 'Affordability_Index',
       'Cost_Of_Living_Index', 'Consumer_price_index',
       'Current_health_expenditure', 'Human_capital_index',
       'Inflation_consumer_prices', 'Life_expectancy_at_birth_total',
       'Labour_force_participation', 'Pop_using_improved_drinking_water_urban',
       'Pop_using_improved_drinking_water_rural',
       'Population_age_distribution_0_14',
       'Population_age_distribution_60_mas',
       'Education_Secondary_gross_enrol_ratio',
       'Education_Tertiary_gross_enrol_ratio'],
      dtype='object')

In [13]:
# separamos los datos en X (VP) y y (VR)

X2 = df.drop(['Quality_Of_Life_Index', 'Agricultural_production_index', 'Purchasing_Power_Index', 'Safety_Index', 'Health_Care_Index',
              'Pollution_index', 'Climate_index', 'Affordability_Index', 'Cost_Of_Living_Index', 
              'Consumer_price_index', 'Human_capital_index'], axis=1)
y2 = df ['Quality_Of_Life_Index']

In [15]:
print(len(X2.columns))
X2.head(2)

24

,Region,GDP_per_capita,Employment_Agriculture,Employment_Services,Urban_population,Urban_population_growth_rate,Fertility_rate_total,Infant_mortality_rate,Seats_held_by_women_in_national_parliaments,Individuals_using_the_Internet,Energy_production_primary,Energy_supply_per_capita,Property_price_to_income_ratio,Traffic_commute_time_index,Current_health_expenditure,Inflation_consumer_prices,Life_expectancy_at_birth_total,Labour_force_participation,Pop_using_improved_drinking_water_urban,Pop_using_improved_drinking_water_rural,Population_age_distribution_0_14,Population_age_distribution_60_mas,Education_Secondary_gross_enrol_ratio,Education_Tertiary_gross_enrol_ratio
country,,,,,,,,,,,,,,,,,,,,,,,,
Argentina,1.84,-0.431499,-0.793293,0.635685,1.176545,-0.146278,0.816818,0.390527,1.373669,-0.170271,-0.433123,-0.072257,0.085614,0.253993,0.595817,-0.179334,-0.356054,0.526225,0.213117,0.576120,0.983668,-0.481642,0.119029,0.928674
Australia,2.30,1.358804,-0.729591,0.874487,1.039907,0.271660,0.093270,-0.510644,0.436646,1.674834,0.729295,0.579071,-0.461542,-0.207625,0.626171,-0.270570,1.069555,0.052782,0.675804,0.681506,-0.044663,0.256053,1.643795,1.272043

In [16]:
# dividimos los datos en datos de entrenamiento y datos de prueba

x2_train, x2_test, y2_train, y2_test = train_test_split(X2, y2, test_size = 0.2, random_state = 37)

In [18]:
# ajustamos el modelo

lr2 = LinearRegression(n_jobs=1)
lr2.fit(x2_train, y2_train)

LinearRegression(n_jobs=1)

In [19]:
# hacemos las predicciones

y2_predict_train = lr2.predict(x2_train)
y2_predict_test = lr2.predict(x2_test)

In [20]:
# creamos un dataframe con los datos de los resultados de entrenamiento y los datos de los resultados del test

train_df2 = pd.DataFrame({'Real': y2_train, 'Predicted': y2_predict_train, 'Set': ['Train']*len(y2_train)})
test_df2 = pd.DataFrame({'Real': y2_test, 'Predicted': y2_predict_test, 'Set': ['Test']*len(y2_test)})
resultados2 = pd.concat([train_df2,test_df2], axis = 0)

In [21]:
# creamos una columna de los residuos: la diferencia entre los datos reales y los datos de la prediccion

resultados2['residuos'] = resultados2['Real'] - resultados2['Predicted']

In [22]:
resultados

                                             Real   Predicted    Set  residuos
country
Romania                                    143.04  143.039544  Train  0.000456
Egypt                                       91.81   91.811547  Train -0.001547
New Zealand                                184.74  184.738511  Train  0.001489
Belgium                                    160.52  160.524277  Train -0.004277
Vietnam                                     36.12   36.119316  Train  0.000684
Colombia                                   115.38  115.382583  Train -0.002583
Lithuania                                  130.28  130.278986  Train  0.001014
Sweden                                     172.74  172.735254  Train  0.004746
Germany                                    189.74  189.748143  Train -0.008143
Philippines                                 56.87   56.868499  Train  0.001501
Norway                                     165.93  165.934160  Train -0.004160
Australia                                  176.54  176.542653  Train -0.002653
The former Yugoslav Republic of Macedonia  116.42  116.420823  Train -0.000823
Mexico                                     129.06  129.061844  Train -0.001844
Turkey                                     129.63  129.625649  Train  0.004351
Czechia                                    165.41  165.411815  Train -0.001815
Bulgaria                                   138.20  138.199964  Train  0.000036
Jordan                                     117.47  117.471106  Train -0.001106
Singapore                                   86.50   86.501053  Train -0.001053
Serbia                                     133.43  133.430940  Train -0.000940
Iran (Islamic Republic of)                  97.17   97.170653  Train -0.000653
United Arab Emirates                       139.27  139.270188  Train -0.000188
Austria                                    190.37  190.366352  Train  0.003648
Thailand                                    57.21   57.209909  Train  0.000091
China                                       90.95   90.952475  Train -0.002475
Portugal                                   178.43  178.433206  Train -0.003206
France                                     160.25  160.251341  Train -0.001341
United States of America                   179.73  179.727657  Train  0.002343
Russian Federation                          85.93   85.929585  Train  0.000415
Estonia                                    171.09  171.092134  Train -0.002134
Ireland                                    166.90  166.900987  Train -0.000987
Saudi Arabia                               146.41  146.409729  Train  0.000271
Spain                                      183.65  183.644544  Train  0.005456
United Kingdom                             172.87  172.863538  Train  0.006462
Switzerland                                173.54  173.540225  Train -0.000225
Poland                                     150.21  150.204036  Train  0.005964
Canada                                     167.18  167.179816  Train  0.000184
Lebanon                                    106.18  106.177984  Train  0.002016
India                                      101.52  101.519865  Train  0.000135
Indonesia                                   62.02   62.019028  Train  0.000972
Greece                                     148.32  148.324431  Train -0.004431
Qatar                                      132.37  132.369131  Train  0.000869
Belarus                                    119.23  119.229989  Train  0.000011
Netherlands                                175.23  175.228915  Train  0.001085
Hungary                                    138.82  138.820237  Train -0.000237
Sri Lanka                                   88.99   88.991446  Train -0.001446
Italy                                      142.52  142.514652  Train  0.005348
Ukraine                                     87.49   87.489114  Train  0.000886
Croatia                                    170.63  170.630869  Train -0.000869
Republic of Korea                          162.49  162.491846  Train -0.001846
Denmark                                    184.92  184.919453  Train  0.000547
Japan                                      147.49  147.494987   Test -0.004987
Finland                                    182.93  182.942915   Test -0.012915
South Africa                               144.72  144.710808   Test  0.009192
Pakistan                                    93.41   93.390712   Test  0.019288
Israel                                     157.88  157.890125   Test -0.010125
Chile                                      136.20  136.193813   Test  0.006187
Malaysia                                    51.65   51.635927   Test  0.014073
Argentina                                  139.59  139.593754   Test -0.003754
Bosnia and Herzegovina                     139.14  139.123350   Test  0.016650
Brazil                                      96.15   96.136744   Test  0.013256
Cyprus                                     166.64  166.643208   Test -0.003208
Slovakia                                   152.55  152.535179   Test  0.014821
Slovenia                                   175.45  175.447818   Test  0.002182

In [24]:
# Para el conjunto de entrenamsiento las méticas han sido
print('Para el conjunto train:---------------')
print('El valor de r2 score es ',r2_score(y2_train,y2_predict_train))
print('El MAE es',mean_absolute_error(y2_train,y2_predict_train))
print('El MSE es',mean_squared_error(y2_train,y2_predict_train))
print('EL RMSE es ',np.sqrt(mean_squared_error(y2_train,y2_predict_train)))


# Para el conjunto de test las métricas han sido
print('Para el conjunto test:---------------')
print('El valor de r2 score es ',r2_score(y2_test,y2_predict_test))
print('El MAE es',mean_absolute_error(y2_test,y2_predict_test))
print('El MSE es',mean_squared_error(y2_test,y2_predict_test))
print('EL RMSE es ',np.sqrt(mean_squared_error(y2_test,y2_predict_test)))

Para el conjunto train:---------------
El valor de r2 score es  0.9538233969265065
El MAE es 6.465733432197769
El MSE es 71.56493693687739
EL RMSE es  8.459606192777379
Para el conjunto test:---------------
El valor de r2 score es  0.5947105605432319
El MAE es 17.850698414708635
El MSE es 504.3880111798314
EL RMSE es  22.4585843538686

In [25]:
resultados_metricas2 = {'MAE': [mean_absolute_error(y2_test, y2_predict_test), mean_absolute_error(y2_train, y2_predict_train)],
                'MSE': [mean_squared_error(y2_test, y2_predict_test), mean_squared_error(y2_train, y2_predict_train)],
                'RMSE': [np.sqrt(mean_squared_error(y2_test, y2_predict_test)), np.sqrt(mean_squared_error(y2_train, y2_predict_train))],
                'R2':  [r2_score(y2_test, y2_predict_test), r2_score(y2_train, y2_predict_train)],
                 "set": ["test", "train"], 
                 "modelo": ["Linear Regresion", "LinearRegression"]}

df_resultados2 = pd.DataFrame(resultados_metricas2)

df_resultados2

         MAE         MSE       RMSE        R2    set            modelo
0  17.850698  504.388011  22.458584  0.594711   test  Linear Regresion
1   6.465733   71.564937   8.459606  0.953823  train  LinearRegression

Ahora vemos que tenemos un caso más claro de overfitting, ya que las métricas del grupo train son mucho mejores del grupo test. 

Vamos a volver a hacerlo con casi todas las columnas que hemos quitado, para experimentar.

In [27]:
X3 = df.drop(['Quality_Of_Life_Index', 'GDP_per_capita', 'Employment_Agriculture',
       'Employment_Services', 'Urban_population',
       'Urban_population_growth_rate', 'Fertility_rate_total',
       'Infant_mortality_rate', 'Seats_held_by_women_in_national_parliaments',
       'Individuals_using_the_Internet', 'Energy_production_primary',
       'Energy_supply_per_capita', 'Property_price_to_income_ratio',
       'Traffic_commute_time_index', 'Current_health_expenditure',
       'Inflation_consumer_prices', 'Life_expectancy_at_birth_total',
       'Labour_force_participation', 'Pop_using_improved_drinking_water_urban',
       'Pop_using_improved_drinking_water_rural',
       'Population_age_distribution_0_14',
       'Population_age_distribution_60_mas',
       'Education_Secondary_gross_enrol_ratio',
       'Education_Tertiary_gross_enrol_ratio'], axis=1)
y3 = df ['Quality_Of_Life_Index']

In [28]:
# dividimos los datos en datos de entrenamiento y datos de prueba

x3_train, x3_test, y3_train, y3_test = train_test_split(X3, y3, test_size = 0.2, random_state = 37)

In [29]:
# ajustamos el modelo

lr3 = LinearRegression(n_jobs=1)
lr3.fit(x3_train, y3_train)

LinearRegression(n_jobs=1)

In [30]:
# hacemos las predicciones

y3_predict_train = lr3.predict(x3_train)
y3_predict_test = lr3.predict(x3_test)

In [31]:
# creamos un dataframe con los datos de los resultados de entrenamiento y los datos de los resultados del test

train_df3 = pd.DataFrame({'Real': y3_train, 'Predicted': y3_predict_train, 'Set': ['Train']*len(y3_train)})
test_df3 = pd.DataFrame({'Real': y3_test, 'Predicted': y3_predict_test, 'Set': ['Test']*len(y3_test)})
resultados3 = pd.concat([train_df3,test_df3], axis = 0)

In [32]:
# creamos una columna de los residuos: la diferencia entre los datos reales y los datos de la prediccion

resultados3['residuos'] = resultados3['Real'] - resultados3['Predicted']

In [33]:
# examinamos los resultados del modelo

resultados3

,Real,Predicted,Set,residuos
country,,,,
Romania,143.04,144.444371,Train,-1.404371
Egypt,91.81,91.278546,Train,0.531454
New Zealand,184.74,184.215965,Train,0.524035
Belgium,160.52,158.671353,Train,1.848647
Vietnam,36.12,33.021963,Train,3.098037
Colombia,115.38,122.993823,Train,-7.613823
Lithuania,130.28,127.272306,Train,3.007694
Sweden,172.74,173.819680,Train,-1.079680
Germany,189.74,189.870357,Train,-0.130357
Philippines,56.87,54.428214,Train,2.441786
Norway,165.93,163.127506,Train,2.802494
Australia,176.54,176.449043,Train,0.090957
The former Yugoslav Republic of Macedonia,116.42,116.336597,Train,0.083403
Mexico,129.06,124.614557,Train,4.445443
Turkey,129.63,128.945047,Train,0.684953
Czechia,165.41,164.727490,Train,0.682510
Bulgaria,138.20,132.280479,Train,5.919521
Jordan,117.47,117.211132,Train,0.258868
Singapore,86.50,88.736160,Train,-2.236160
Serbia,133.43,134.779941,Train,-1.349941
Iran (Islamic Republic of),97.17,95.457620,Train,1.712380
United Arab Emirates,139.27,137.312821,Train,1.957179
Austria,190.37,189.796326,Train,0.573674
Thailand,57.21,58.862332,Train,-1.652332
China,90.95,99.126321,Train,-8.176321
Portugal,178.43,177.845585,Train,0.584415
France,160.25,160.903042,Train,-0.653042
United States of America,179.73,183.177850,Train,-3.447850
Russian Federation,85.93,84.138981,Train,1.791019
Estonia,171.09,170.360056,Train,0.729944
Ireland,166.90,167.624760,Train,-0.724760
Saudi Arabia,146.41,150.951276,Train,-4.541276
Spain,183.65,184.739304,Train,-1.089304
United Kingdom,172.87,173.471068,Train,-0.601068
Switzerland,173.54,177.037164,Train,-3.497164
Poland,150.21,149.617787,Train,0.592213
Canada,167.18,167.380934,Train,-0.200934
Lebanon,106.18,104.116243,Train,2.063757
India,101.52,99.501276,Train,2.018724
Indonesia,62.02,66.453883,Train,-4.433883
Greece,148.32,146.644514,Train,1.675486
Qatar,132.37,127.277201,Train,5.092799
Belarus,119.23,120.416945,Train,-1.186945
Netherlands,175.23,174.733197,Train,0.496803
Hungary,138.82,137.867139,Train,0.952861
Sri Lanka,88.99,90.513136,Train,-1.523136
Italy,142.52,142.169857,Train,0.350143
Ukraine,87.49,91.158098,Train,-3.668098
Croatia,170.63,170.580802,Train,0.049198
Republic of Korea,162.49,160.521798,Train,1.968202
Denmark,184.92,184.738151,Train,0.181849
Japan,147.49,153.016941,Test,-5.526941
Finland,182.93,185.912000,Test,-2.982000
South Africa,144.72,145.889259,Test,-1.169259
Pakistan,93.41,89.509205,Test,3.900795
Israel,157.88,157.880495,Test,-0.000495
Chile,136.20,134.071036,Test,2.128964
Malaysia,51.65,36.264483,Test,15.385517
Argentina,139.59,137.024010,Test,2.565990
Bosnia and Herzegovina,139.14,134.447126,Test,4.692874
Brazil,96.15,100.688093,Test,-4.538093
Cyprus,166.64,159.198252,Test,7.441748
Slovakia,152.55,154.952381,Test,-2.402381
Slovenia,175.45,172.961256,Test,2.488744

In [34]:
# Para el conjunto de entrenamsiento las méticas han sido
print('Para el conjunto train:---------------')
print('El valor de r2 score es ',r2_score(y3_train,y3_predict_train))
print('El MAE es',mean_absolute_error(y3_train,y3_predict_train))
print('El MSE es',mean_squared_error(y3_train,y3_predict_train))
print('EL RMSE es ',np.sqrt(mean_squared_error(y3_train,y3_predict_train)))


# Para el conjunto de test las métricas han sido
print('Para el conjunto test:---------------')
print('El valor de r2 score es ',r2_score(y3_test,y3_predict_test))
print('El MAE es',mean_absolute_error(y3_test,y3_predict_test))
print('El MSE es',mean_squared_error(y3_test,y3_predict_test))
print('EL RMSE es ',np.sqrt(mean_squared_error(y3_test,y3_predict_test)))

Para el conjunto train:---------------
El valor de r2 score es  0.9953479560376889
El MAE es 1.929821432518174
El MSE es 7.20978180791051
EL RMSE es  2.6851036866218982
Para el conjunto test:---------------
El valor de r2 score es  0.9744221288516698
El MAE es 4.247984640581086
El MSE es 31.8319953661078
EL RMSE es  5.6419850554665425

In [35]:
resultados_metricas3 = {'MAE': [mean_absolute_error(y3_test, y3_predict_test), mean_absolute_error(y3_train, y3_predict_train)],
                'MSE': [mean_squared_error(y3_test, y3_predict_test), mean_squared_error(y3_train, y3_predict_train)],
                'RMSE': [np.sqrt(mean_squared_error(y3_test, y3_predict_test)), np.sqrt(mean_squared_error(y3_train, y3_predict_train))],
                'R2':  [r2_score(y3_test, y3_predict_test), r2_score(y3_train, y3_predict_train)],
                 "set": ["test", "train"], 
                 "modelo": ["Linear Regresion", "LinearRegression"]}

df_resultados3 = pd.DataFrame(resultados_metricas3)

df_resultados3

        MAE        MSE      RMSE        R2    set            modelo
0  4.247985  31.831995  5.641985  0.974422   test  Linear Regresion
1  1.929821   7.209782  2.685104  0.995348  train  LinearRegression

Aquí podemos ver de nuevo un caso de overfitting, ya que las métricas MAE, MSE y RMSE son mucho mejores para el grupo train que el grupo test. Sin embargo, el R2 es muy alto para los dos grupos. 

Si tuvieramos más tiempo a dedicar al proyecto, podríamos volver a evaluar las variables predictoras que habíamos elegido, y hacer un proceso iterativo probando cuales son más significativas para la variable respuesta. 

Sin embargo, con pocos datos en el dataset, sospechamos que de todos modos resultaría difícil crear un modelo bueno y preciso. Sería interesante probar con más datos, si estos hubieran disponibles, de más países y de más años, para crear un modelo de un dataset más robusto.

In [36]:
df_resultados.to_csv('datos/resultados_RL.csv')